@import "bourbon";
/*Uncomment this to get Twitter Bootstrap. I don't think you need it bc your
styling is good enough as is.*/
@import "bootstrap";
/*If you want to change any of the Bootstrap styles, it's conventional to put
them in this file Bootstrap override. There's nothing in it now.*/
@import "bootstrap_override";

$width: 960px;
$yale_blue: #0F4D92;
$nav_height: 50px;

body {
  margin: 0;
  padding: 0;
  font: 14px/20px Lato, "Helvetica Neue", sans-serif;
}

ul, li {
  list-style: none;
}

a {
  color: $yale_blue;
  &:hover {
    color: lighten($yale_blue, 20%);
  }
  @include transition(color 0.2s);
}

.container {
  width: $width;
  margin: 0 auto;
}

.pull-right {
  float: right;
}

.nav-bar {
  height: $nav_height;
  color: #ccc;
  @include box-shadow(0 1px 1px rgba(black, 0.2));

  a {
    text-decoration: none;
  }
  li {
    float: left;
    margin-right: 10px;
  }

  .brand {
    line-height: $nav_height;
    font-size: 150%;
  }
}

.content {
  margin-top: 70px;
}

.left-main {
  float: left;
  width: 50%
}

.right-main {
  float: left;
  padding-left: 20px;
}

.ladder {
  width: 300px;
}

.full {
  display:none;
}

#flash {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;

  .success {
    color: green;
  }
  .error {
    color: red;
  }
}

button.expand {
  width:24px;
  height:24px;
  border-radius:12px;
  font-size:10px;
  color:#fff;
  line-height:12px;
  text-align:center;
  background:darken($yale_blue, 10%);
  border: 0;
  &:hover {
    color: #ddd;
  }
  @include transition(color 0.1s);
  margin-bottom:10px;

}

@import "welcome";
@import "users";