#flash {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;

  .success {
    color: green;
  }
  .error {
    color: red;
  }
}

.dblist {
  .user {
    background-color: rgba($yale_blue, 0.5);
  }

  .win {
    background-color: rgba(green, 0.5);
  }

  .tie {
    background-color: rgba(blue, 0.5);
  }

  .lose {
    background-color: rgba(red, 0.5);
  }


	width: 100%;
	border-spacing: 0;
	border: 1px solid black;
	margin-bottom: 4px;

  th {
 		border-top: 1px solid black;
		border-bottom: 2px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
		background-color: darken($yale_blue, 10%);
		color: white;
	}

  td {
		border: 1px solid black;
	}
}