<!DOCTYPE html>
<html>
<head>
  <title>Yale Squash Ladder</title>
   <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav-bar">
    <div class="container">
      <a href="/" class="brand">
        <img src="/images/logoside.png" height="100px;" />
      </a>
      <ul class="pull-right">
        <li>
          <a href="/match">Report match</a>
        </li>
        <li>
          <a href="/help" class="help">Help</a>
        </li>
        <li>
          <a href="/logout" class="logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
